<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <div class="contenedor-chat">
        <form action="{{ url_for('alta_usuario') }}" method="GET">
            <button id="boton-alta" type="submit">Dar de Alta</button>
        </form>
        <form action="{{ url_for('listar_usuarios') }}" method="GET">
            <button id="boton-listar" type="submit">Listar</button>
        </form>
    </div>
</body>
</html>